<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Maniac</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
    
    <header> <h1 style="font-size: 35px;">Money Maniac</h1> </header>    
  
    <div class="main-container">
       <div class="image-container">
            <img src="/images/bgimage.jpg" class="image"
                alt="Expense Graphic 1">
       </div>
      
        <div class="container">
            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">Beware of little expenses a little leak will sink a great ship</h3>
            <br>
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Subscribe to Premium and enjoy exciting features</h2>
            <p>Download your Expense Report</p>
            <p>View leaderboard of users and compare your spending habits</p>
            <div>
                <a href="user/signup" class="button">Sign Up</a>
                <a href="user/login" class="button">Login</a>
            </div>
        </div>
    </div>
   <footer>  <p>For any queries contact soumyasenthil1002@gmail.com</p> </footer>
      
    
</body>

</html>